<div class="modal-header">
    <span class="h4">Duplicate Contact</span>
</div>
<div class="modal-body">
    <span>The Contact you are trying to save is a duplicate record owned by another TTI rep and cannot be created. If you would like to submit for contact reassignment, please click “yes” and an administrator will review your request. If not, click “no”.</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ok()">Yes</button>
</div>